body {
    background-color: #E0FFFF;
}

.container {
    margin-top: 5%;
    background-color: white;
}

img {
    width: 175px;
    height: 175px;
    margin: 10px;
}

.padronizarEspacamento {
    margin: 10px;
    padding-bottom: 10px;
}

.notaMenor {
    color: #B22222;
}

.somatorio {
    color: #008000;
}

.notaMaior {
    color: #000080;
}

.ajusteMargem {
    margin-top: 15px;
}